@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#__next {
  height: 100%;
}

@layer utilities {
  .translate-center {
    transform: translate(-50%, -50%);
  }
  .wider-box {
    width: calc(100% + 16px);
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }
}